.navbarComp {
    background-color: rgba(0, 0, 0, 100%);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px;
    border-bottom: 4px solid rgb(255, 102, 0);
    z-index: 100;
    color: white;
}

.navbarComp h1 {
    font-weight: bold;
    /* text-shadow: 3px 3px 3px #ed8c72; */
    font-size: 2rem;
    margin-right: 10px;
}

.navbarComp__content {
    display: flex;
}

.navbarComp__content-search {
    background-color: white;
    display: flex;
    border-radius: 3px;
    padding: 5px;
}

.search__input {
    border: none;
    padding: 3px;
    width: 260px;
}

.search__button {
    border: none;
    padding: 3px;
}

@media only screen and (max-width: 500px) {
    .search__input {
        width: 200px;
    }
}

@media only screen and (max-width: 392px) {
    .search__input {
        width: 120px;
    }
}