.arab{
    font-size: 26px;
    line-height: 48px;
    font-family: LPMQ,"Traditional Arabic",Tahoma,sans-serif;
    font-weight: normal;
    text-align: right;
    direction: rtl;
}
.listSurats {
    padding-top: 20px;
    background-color: #f1f1f2;
    padding-bottom: 50px;
}

.listSurats__items {
    justify-content: center;
}

.listSurats__item h2 {
    font-size: 20px;
}

.listSurats__items-item {
    background-color: white;
    margin: 12px 0px;
    padding: 20px;
    box-shadow: 0px 0px 4px #bcbabe;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.item__nama {
    font-size: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.item__arti {
    font-size: 17px;
    text-align: end;
}

.listSurats__items-item:hover {
    background-color:  rgba(102, 255, 255, 30%);
    box-shadow: 0px 0px 2px rgb(255, 102, 0);
}
