.listSurats {
    padding-top: 20px;
    background-color: #d4dde1;
}

.listSurats__items {
    margin-bottom: 200px;
    justify-content: center;
}

.listSurats__item h2 {
    font-size: 20px;
}

.listSurats__item {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    color: #f4eade;
    /* color: #2988bc; */
    /* box-shadow: 0px 0px 10px #2f496e; */
    /* box-shadow: 0px 0px 10px #ed8c72; */
    border-radius: 8px;
    padding: 15px;
    background-color: aliceblue;
    background-color: #ed8c72;
}

.listSurats__items-item {
    background-color: white;
    margin: 10px;
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    gap: 5px;
    box-shadow: 0px 0px 5px #ed8c72;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.listSurats__items-item:hover {
    background-color:  #f4eade;
}
