.surat {
    padding-top: 70px;
    background-color: #f1f1f2;
    /* background-color: rgba(0, 0, 0, 5%); */
}

.surat-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.surat__name {
    background-color: rgba(0, 0, 0, 90%);
    box-shadow: 0px 0px 2px #bcbabe;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 30px;
    /* color: rgb(255, 102, 0); */
    color: white;
}

.surat__name-arab {
    padding: 5px;
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgb(0, 255, 255);
}

.surat__name-latin {
    text-shadow: 2px 2px 4px rgb(0, 255, 255);
}

.surat__name-info {
    text-transform: capitalize;
    margin: 0;
}


.surat__items-item {
    background-color: white;
    padding: 20px;
    line-height: 2;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px #bcbabe;
    border-radius: 5px;
}

.surat__items-item:hover {
    background-color:  rgba(102, 255, 255, 30%);
    box-shadow: 0px 0px 2px rgb(255, 102, 0);
}

.item__idn {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.surat__pagination {
    display: flex;
    justify-content: space-between;
    background-color: black;
    box-shadow: 0px 0px 2px #bcbabe;
    padding: 20px;
    border-radius: 5px;
}

.surat__pagination-button {
    border: none;
    background-color: rgb(255, 102, 0);
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.surat__pagination-button:hover {
    background-color: rgba(255, 102, 0, 70%);
}