.surat {
    padding-top: 70px;
    background-color: #f1f1f2;
    /* background-color: #2f496e; */
    /* color: #f4eade; */
}

.surat__name {
    background-color:  rgba(102, 255, 255, 30%);
    box-shadow: 0px 0px 2px orange;
    padding: 15px 80px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.surat-container {
    /* background-color: #2f496e; */
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

}

.surat__name {
    align-self: center;
    margin-bottom: 30px;
}

.surat__items {
    align-self: flex-end;
    text-align: end;
    width: 100%;
}

.surat__items-item {
    background-color: white;
    padding: 25px;
    line-height: 2;
    margin-bottom: 25px;
    box-shadow: 0px 0px 5px #bcbabe;
    border-radius: 8px;
}

.surat__items-item:hover {
    background-color:  rgba(102, 255, 255, 30%);
    box-shadow: 0px 0px 2px orange;
}